@import "../../vars.css";

.HomePage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.HomePage h1 {
  font-family: "Mogra", serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  line-height: 100%;
  letter-spacing: 2px;
  padding-bottom: 8rem;
}

.description {
  font-size: 30px;
  padding-bottom: 3rem;
}

p {
  padding: 1rem;
}
.arrow {
  width: 50px;
}

@media (max-width: 545px) {
  .HomePage h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
