:root {
  /* Colours */
  --color-text: black;
  --color-primary: #8fdcc2;
  --color-secondary: #165b44;
  --color-dark: #0e2928;
  --color-bg: hsl(168, 24%, 96%);

  /* FOnt */
  --font-lato: "Lato";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}
